In [74]:
import pandas as pd
import numpy as np

t_values = []
data = pd.DataFrame({'y1': [5, 1090, 45], 
                     'y2' : [8, 999, 40],
                    's1':[1, 400, 45],
                    's2':[3, 30, 40],
                     'N1': [200, 900, 2000],
                     'N2': [500, 100, 2000]})
data.head()

     N1    N2   s1  s2    y1   y2
0   200   500    1   3     5    8
1   900   100  400  30  1090  999
2  2000  2000   45  40    45   40

In [75]:
for index, row in data.iterrows():
    t_val = (row['y1'] - row['y2']) / ((row['s1']**2 /row['N1'] + row['s2']**2 / row['N2'])**.5)
    t_values.append(t_val)
print('t-values = {}'.format(t_values))

t-values = [-19.781414201873609, 6.6585365853658542, 3.7139067635410377]

In [76]:
(5-8) / ((1**2/200 + 3**2/500)**0.5)

-19.78141420187361

In [77]:
(1090-999) / ((400**2/900 + 30**2/100)**0.5)

6.658536585365854

In [73]:
(45-40) / ((45**2/2000 + 40**2/2000)**0.5)

3.7139067635410377